//$breadcrumb-item-padding =
//$breadcrumb-link-color =
//$breadcrumb-bg =
//$breadcrumb-divider-color =
//$breadcrumb-active-color =
//$breadcrumb-divider = "/"

/*.breadcrumb
	padding 0
	margin-bottom 0.5rem !important
	list-style none
	clearfix()
	&-item
		float left
		// The separator between breadcrumbs (by default, a forward-slash: "/")
	+ .breadcrumb-item::before
		display inline-block
		// Suppress underlining of the separator in modern browsers
		padding-right $breadcrumb-item-padding
		padding-left $breadcrumb-item-padding
		color $breadcrumb-divider-color
		content $breadcrumb-divider
	+ .breadcrumb-item:hover::before
		text-decoration underline
	+ .breadcrumb-item:hover::before
		text-decoration none
	&.active
		color $breadcrumb-active-color

// Hover effects
.page-link:hover:not(.active)
	background lighten($breadcrumb-bg, 85%)
	color $breadcrumb-link-color !important
	transition 0*/
