$bg-color = #fff
$color = #000

.scroll-to-top
	display none
	position fixed
	bottom 10px
	right 10px
	height 50px
	width 50px
	font-size 1.5rem
	line-height 50px
	text-align center
	color alpha($color, 80%)
	background alpha($bg-color, 60%)
	box-shadow 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.3)
	border-radius 50%
	z-index 500
	cursor pointer
	transition background .2s ease, box-shadow .2s ease
	&:hover
		background $bg-color
		color alpha($color, 100)
		box-shadow 0 2px 2px 0 rgba(0,0,0,0.09), 0 1px 5px 0 rgba(0,0,0,0.07), 0 3px 1px -2px rgba(0,0,0,0.1)
