/*// Active nav item
.tpl-id-1 nav a:nth-child(1)
.tpl-id-2 nav a:nth-child(2)
.tpl-id-3 nav a:nth-child(3)
	color lighten($brand-1, 60%)
	&:after
		width 100%*/




/*
// ===================================================================================================================
// Mobile menu
// ===================================================================================================================

.hamburger
	position absolute
	height 30px
	width 30px
	background $brand_white url() no-repeat 50% 50%
	background-size 35px
	top 13px
	right 14px
	border-radius 3px
	z-index 999
	border none
	&.in
		background-color lighten($brand-1, 80%)
	
	+media(sm)
		display none // Hidden/visible icon

// Разворачивается/сворачивается
.expand-block
	display none
	flex-grow 1
	transition max-height .7s, visibility .7s
	overflow hidden // Hidden/visible menu items
	align-self flex-end
	+media(sm)
		align-self center
	+media(sm)
		display flex
		max-height unset
		align-items inherit*/
